body{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    background:#eef7f2;
}

header{

    background:#53c6b8;
    color:white;
    text-align:center;
    padding:40px;
}

main{

    max-width:1000px;
    margin:auto;
    padding:40px;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:25px;

}

.card{

    background:white;

    padding:25px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

}